.wrapper {
  width: 100%;
  text-align: center;
}
.wrapper * {
  text-decoration: none;
}
.contaniner {
  max-width: 1200px;
  margin: 0 auto;
}

.menuItem {
  display: flex;
  flex-direction: column;
}

.mainMenu {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 78px;
  font-size: 24px;
  font-weight: 600;
  color: #333;
  background-color: #000066;
  color: #ffffff;
}

.subMenu {
  display: flex;
  flex-direction: column;
}

.subMenuItem {
  margin: 0px;
  padding: 0px;
  font-size: 16px;
  cursor: pointer;
  transition: color 0.2s ease;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 0.5px solid #d0d0d0;
  font-size: 15px;
  color: #000;
  border-top: none;
}

.subMenuItem:hover {
  font-weight: 600;
}
