.mainWrapper {
  width: 100vw;
  margin: 0px;
  padding: 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.banner {
  margin-top: 48px;
  position: relative;
  width: 100%;
  height: 360px;
}

.bannerImg {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.banner span {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-35%, -50%);
  font-weight: 700;
  color: white;
  font-size: 36px;
  width: 80%;
}

.findKcContainer {
  margin-top: 48px;
  width: 62.5%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.findKcBox {
  border-radius: 20px;
  width: 100%;
  height: 360px;
  border: 5px dotted #d0d0d0;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 24px;
  cursor: pointer;
  transition: all 0.2s ease;
}

.findKcBox.dragging {
  border: 5px dashed #214268;
  background-color: rgba(33, 66, 104, 0.1);
}

.findKcBox div:first-child {
  width: 48px;
  height: 48px;
}

.findKcBtn {
  font-size: 15px;
  margin-top: 24px;
  width: 184px;
  height: 62px;
  border-radius: 110px;
  background-color: #214268;
  color: #ffffff;
  font-weight: 600;
}

.findKcBtn:hover {
  background-color: #1a3350;
}

.mainBoxContainer {
  width: 100%;
  height: 218px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 24px;
  margin: 48px 0 72px 0;
}

.leftBox,
.rightBox {
  background-color: rgb(255, 255, 255);
  width: 612px;
  height: 100%;
  box-shadow: 0px 3px 20px rgba(75, 75, 75, 0.15);
  border-radius: 10px;
}

.announceTitle,
.contectTitle {
  margin: 20px 24px 0 24px;
  height: 40px;
  border-bottom: 0.5px solid #606060;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  align-content: center;
}

.announceItems {
  margin: 0 24px;
  padding: 0px;
}
.announceItem {
  list-style: none;
  border-bottom: 0.5px solid #d0d0d0;
}
.announceItem p {
  margin: 0px;
  padding: 0px;
  height: 45px;
  list-style: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  color: #3c3c3c;
}

.announceItem p span:last-child {
  color: #747474;
}

.announceItems {
  margin-bottom: 20px;
}

.rightBox {
  display: flex;
  flex-direction: column;
}

.contectTitle {
  border: none;
}

.rightBoxContent {
  display: flex;
  flex-direction: row;
  height: 113px;
  gap: 24px;
  margin: 20px 24px 0 24px;
}

.rightBoxContent .leftImg {
  width: 258px;
  background-color: red;
  border-radius: 15px;
}

.leftImg img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 15px;
}

.rightInfo ul {
  margin: 0px;
  padding: 0px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.rightInfo ul li {
  width: 281px;
  list-style: none;
}

.rightInfo ul li div {
  width: 100%;
  margin: 0px;
  padding: 0px;
  display: flex;
  gap: 10px;
}

.uploadBtn {
  padding: 15px 30px;
  border: 2px solid #d1d5db;
  border-radius: 30px;
  cursor: pointer;
  font-size: 15px;
}