.dropdownWrapper {
  width: 100vw;
  z-index: 1000;
  right: 500;
  border-bottom: 0.5px solid #d0d0d0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  font-size: 15px;
  text-align: center;
  background-color: #ffffff;
  margin-top: -5px;
  position: absolute;
  box-shadow: 0px 20px 15px rgba(0, 0, 0, 0.05);
  transition: opacity 0.3s ease, transform 0.3s ease, box-shadow 0.3s ease;
}

.dropdown {
  width: 62.5%;
  display: grid;
  grid-template-columns: 2fr 1fr 6fr 1fr 2fr;
  gap: 24px;
  align-items: center;
  margin-bottom: 10px;
}

.dropdownItems {
  grid-column: 3 / 4;
}

.dropdownItems ul {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 24px;
  padding: 0px;
  list-style: none;
}

.dropdownItems ul li {
  cursor: pointer;
}

.dropdownItems ul li ul li:hover {
  font-weight: 600;
}

.dropdownItems ul li ul {
  margin: 0px;
  padding: 0px;
  display: flex;
  flex-direction: column;
}

.dropdownItems ul li ul li {
  margin: 0px;
  padding: 0px;
}
