.wrapper {
  width: 100vw;
  margin: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  font-size: 15px;
}

.container {
  width: 62.5%;
  display: grid;
  grid-template-columns: 2fr 1fr 9fr;
  gap: 24px;
  margin-top: 48px;
}

.menubox {
  grid-column: 1 / 2;
  width: 100%;
}

.box {
  grid-column: 3 / 4;
  display: grid;
  grid-template-columns: 1fr;
  gap: 24px;
}

.box h2 {
  grid-column: 1 / -1;
  text-align: left;
  margin-bottom: 16px;
  color: #000066;
  font-size: 24px;
}

.resultTitle {
  display: grid;
  grid-template-columns: 1fr 6fr 2fr;
  gap: 24px;
  align-items: start;
}

.resultTitle h3 {
  margin: 0;
  grid-column: 1 / 2;
  font-size: 24px;
}

.resultTitle span {
  text-align: left;
  cursor: pointer;
}

.resultTitle .findAnotherKcBtn {
  padding: 8px 16px;
  border-radius: 20px;
  background-color: #214268;
  border: none;
  color: #ffffff;
  font-weight: 600;
  cursor: pointer;
}

.result {
  display: grid;
  gap: 24px;
}

.result ul {
  grid-template-columns: 1fr 6fr 2fr;
  list-style: none;
  padding: 0;
  margin: 0;
}

.result li {
  margin-bottom: 24px;
  display: grid;
  grid-template-columns: 1fr 6fr 2fr;
  gap: 24px;
  align-items: start;
  border-bottom: 0.5px solid #d0d0d0;
  padding-bottom: 24px;
}

.result li p {
  grid-column: 1 / 2;
  margin: 0;
  text-align: left;
  display: flex;
  height: 100%;
  width: 100%;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 18px;
  font-weight: 600;
}

.myImg {
  grid-column: 2 / 3;
  width: 100%;
  max-width: 600px;
  height: 400px;
  overflow: hidden;
}

.myImg img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.pagination {
  display: flex;
  gap: 8px;
  align-items: center;
  justify-content: center;
}

.goToLinkBtn {
  border: 1px solid #214268;
  background-color: #ffffff;
  width: 100%;
  height: 32px;
  border-radius: 10px;
  font-size: 15px;
  font-weight: 600;
  color: #214268;
  cursor: pointer;
}

.goToLinkBtn:hover {
  background-color: #f9f9fa;
}

.linkBox {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
}

.historyTable {
  width: 100%;
  border-collapse: collapse;
}

.historyTable th {
  padding: 15px;
  border-bottom: 2px solid #d0d0d0;
  text-align: center;
  font-weight: 600;
  color: #000066;
}

.historyTable td {
  padding: 15px;
  margin: 0px;
  border-bottom: 0.5px solid #d0d0d0;
  text-align: center;
}

.historyTable th:nth-child(1),
.historyTable td:nth-child(1) {
  width: 1fr;
  width: 10%;
}

.historyTable th:nth-child(2),
.historyTable td:nth-child(2) {
  width: 6fr;
  width: 40%;
}

.historyTable th:nth-child(3),
.historyTable td:nth-child(3) {
  width: 6fr;
  width: 35%;
  text-align: left;
  padding-left: 24px;
}

.historyTable th:nth-child(4),
.historyTable td:nth-child(4) {
  width: 2fr;
  width: 15%;
}

.historyTable td.uploadedImg {
  max-width: 100px;
}

.historyTable td.uploadedImg img {
  width: 60px;
  height: 60px;
  object-fit: cover;
  cursor: pointer;
}

.historyTitle {
  text-align: left;
  cursor: pointer;
}

.historyTitle:hover {
  text-decoration: underline;
  color: #000066;
}

.historyPagination {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.box:last-child {
  margin-bottom: 72px;
}

