.wrapper {
  width: 100vw;
  margin: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  font-size: 15px;
}

.container {
  width: 62.5%;
  display: grid;
  grid-template-columns: 2fr 1fr 9fr;
  gap: 24px;
  margin-top: 48px;
}

.menubox {
  grid-column: 1 / 2;
  width: 100%;
}

.box {
  grid-column: 3 / 4;
}

.box h2 {
  grid-column: 1 / -1;
  text-align: left;
  margin-bottom: 16px;
  color: #000066;
  font-size: 24px;
}

.locationMap {
  width: 100%;
  display: flex;
  align-items: center;
}

.locationInfo {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  justify-self: center;
  padding: 10px 0;
  background-color: #ffffff;
  border-top: 2px solid #000066;
  border-bottom: 1px solid #dee2e6;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.05);
}

.locationInfo span:first-child {
  margin-right: 12px;
  display: flex;
  align-items: center;
}

.locationInfo span:last-child {
  font-size: 16px;
  font-weight: 500;
  color: #000;
}