.footerWrapper {
  width: 100vw;
  height: 219px;
  background-color: #414141;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  font-size: 15px;
}

.footerContariner {
  width: 62.5%;
}

.footerContariner ul {
  display: flex;
  flex-direction: column;
  gap: 13px;
}

.footerContariner ul li {
  list-style: none;
}

.footerContariner ul li a {
  text-decoration: none;
  cursor: pointer;
  color: #ffffff;
  font-weight: 600;
}

.footerContariner ul li div {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  gap: 24px;
  text-align: center;
}

.footerContariner ul li:last-child {
  color: #7d7d7d;
  display: flex;
  flex-direction: column;
  gap: 13px;
}

.footerContariner ul li:last-child a {
  text-decoration: none;
  color: #7d7d7d;
}
